{
	padding: 0;
	margin: 0;
}

h1{
	color: white;
	text-align: center;
}

body{
	background-color: #009999;
}

.chessboard{
	display: inline-grid
        grid-template-rows:
        grid-template-columns:
}
// display starts a grid, rows and columns give the grids rows and columns
