h1{
	color: white;
	text-align: center;
}

body{
	margin: 40px;
	background-color: #009999;
}

.chessboard{
	background-color: white;
	height: 750px;
	width: 750px;
	display: grid
    grid-template-rows: repeat(8, 40px);
    grid-template-columns: repeat(9, 40px);
	grid-gap: 0;
	border-style: solid;
	border-width: 10px;
}
// display starts a grid, rows and columns give the grids rows and columns and repeats its.

//the next code
h1{
	color: white;
	text-align: center;
}

body{
	margin: 40px;
	background-color: #009999;
}

table {
	margin: auto;
	box-shadow: 0 0 10px 10px;
	border-collapse: collapse;
}

td {
	padding: 40px;
	background-color: black;
}

tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even){
	background-color: white; 
}
